.site-logo {
  display: inline-block;
  width: 163px;
  height: 44px;
  margin-right: 4rem;
}
.top-header {
  top: 0rem;
  width: 100%;
  position: absolute;
  background-color: initial;
  z-index: 1;
  box-shadow: 0 2px 3px -3px grey;
}
.top-header .container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 64px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: 0rem;
  margin-right: 0rem;
  padding-top: 0.5rem;
  color: #000;
  border-bottom: 0;
  border-color: #292929;
  width: 100% !important;
}

.site-menu {
  align-items: center;
  justify-content: center;
  display: flex;
}

.user-menu {
  align-items: center;
  display: flex;
  margin-top: -0.25rem;
}

.menu-item {
  font-size: 14px;
  line-height: 17px;
  margin-right: 1.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: color 0.3s ease-in-out;
}

.link-cart {
  align-items: center;
  display: flex;
  margin-left: 0rem;
}
.link-cart img {
  width: 25px;
  min-width: 25px;
  height: 21px;
}

.luminskin-select__wrapper {
  height: fit-content;
  width: 84px;
  min-width: 84px;
  padding: 0rem;
  position: relative;
  top: initial;
  right: initial;
  left: initial;
  z-index: initial;
  margin-left: 1.5rem;
}
.luminskin-select__wrapper--fullwidth {
  position: relative;
}
.luminskin-select__wrapper--fullwidth select {
  width: 100%;
    outline: 0;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    padding-top: 2px;
    padding-bottom: 1px;
    line-height: normal;
    color: currentColor;
    height: 57px;
    font-size: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background: #fff;
    border: 1px solid #cdd1ce;
    border-radius: 0;
    webkit-appearance: none;
    padding-right: 2rem;
}

.luminskin-select__icon-wrapper--fullwidth {
  color: currentColor;
    font-size: 1.25rem;
    position: absolute;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 1.5rem;
    height: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    right: 0.5rem;
    pointer-events: none;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.luminskin-select__wrapper select {
  width: 100%;
  outline: 0;
  position: relative;
  appearance: none;
  transition: all 0.2s;
  padding-top: 2px;
  padding-bottom: 1px;
  line-height: normal;
  color: currentColor;
  height: 24px;
  font-size: 0.6875rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid #cdd1ce;
  border-radius: 0;
  background: transparent;
  border-color: #acafad;
  padding-right: 2rem;
}

.luminskin-select__icon-wrapper {
  color: currentColor;
  font-size: 1.25rem;
  position: absolute;
  display: inline-flex;
  width: 1.5rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  right: 0.5rem;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
}

.main-header > div:first-child {
  padding-top: 64px;
  max-width: 1300px;
}
.main-header__title {
  flex-direction: row;
  padding-top: 5rem;
  padding-bottom: 4rem;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
}
.main-header__title h1 {
  font-size: 3rem;
  line-height: 1.25em;
}

.sidebar__cart.open {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
}
.sidebar__overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #6e7b70;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}

.sidebar__cart {
  position: fixed;
  top: 0;
  background-color: #f2f2ef;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow-x: auto;
  max-width: 550px;
  width: 100%;
  z-index: 1500;
  -webkit-transition: opacity 0.4s ease-in-out 0.1s,
    -webkit-transform 0.4s cubic-bezier(0.28, 0.47, 0.29, 0.86);
  transition: opacity 0.4s ease-in-out 0.1s,
    -webkit-transform 0.4s cubic-bezier(0.28, 0.47, 0.29, 0.86);
  transition: transform 0.4s cubic-bezier(0.28, 0.47, 0.29, 0.86),
    opacity 0.4s ease-in-out 0.1s;
  transition: transform 0.4s cubic-bezier(0.28, 0.47, 0.29, 0.86),
    opacity 0.4s ease-in-out 0.1s,
    -webkit-transform 0.4s cubic-bezier(0.28, 0.47, 0.29, 0.86);
  opacity: 0;
  left: auto;
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: inherit;
  max-height: inherit;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
  background: #fff;
  padding: 15px;
}

.list__item .item__image {
  background-color: #fdfdfd;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #1e2d2b;
  width: 33.3%;
  padding-right: 15px;
}

.list__item .item__description {
  color: #1e2d2b;
  width: 65%;
  line-height: 18px;
  font-size: 10px;
  margin-top: 5px;
  letter-spacing: 0.02px;
  min-height: 100px;
}

.cart__list {
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
  flex: 1;
}
.main-content {
  background-color: #e2e6e3;
}
.main-content > div:first-child {
  animation: 0.6s ease-in-out 0s 1 normal none running animation-1qp25wx;
}
.products__list {
  flex-wrap: wrap;
  max-width: 1300px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.sidebar__button--close {
  border-radius: 50%;
  border: 1px solid rgb(198, 204, 199);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 20px;
}
.products__grid {
  flex-wrap: wrap;
  display: flex;
  max-width: 1300px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.product__item {
  flex-direction: column;
  display: flex;
  text-align: center;
  background: rgb(226, 230, 227);
  padding: 3rem 2rem;
}
.product__item .item__button {
  min-width: 190px;
  max-width: 157px;
  display: flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: all 250ms ease 0s;
  user-select: none;
  position: relative;
  vertical-align: middle;
  outline: none;
  border: 0px;
  line-height: 1.2;
  padding-top: 2px;
  font-weight: 600;
  font-family: "FF Bau Regular", sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 52px;
  background: rgb(75, 85, 72);
  color: rgb(252, 252, 249);
  width: 100%;
  max-width: 100%;
  white-space: normal;
}
.product__item .item__media {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 0%;
}
.product__link {
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  display: flex;
  height: 100%;
}
.product__link img {
  object-fit: contain;
  max-width: 100%;
  max-height: 170px;
  flex: 1 1 0%;
}
.product__link h2 {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "FF Bau Regular", sans-serif;
    font-weight: 400;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.shop-filter {
  flex: 1;
    margin-top: 1.5rem;
    max-width: 400px;
}
.item-summary {
  margin-bottom: 70px;
}
.item-summary>div {
  width: 33.3%;
  align-items: center;
  padding-top: 20px;
  flex: 1;
  justify-content: flex-start;
}

.personalize-product {
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
  flex: 1;
}
.personalize-product h4 {
  letter-spacing: 1px!important;
    color: #2b2e2b;
    font-style: normal;
    font-size: 24px;
    font-family: freight-display-pro,serif;
    font-size: 28px;
    margin-bottom: 20;
}
.checkout-btn {
  color: #fff;
  letter-spacing: 2px;
  background-color: #4b5548;
  border: none;
  margin-top: 15px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  padding: 16px 20px;
  text-align: center;
  text-decoration: none;
}
.cart__title {
  text-align: center;
}

.item__description h6{
  color: #1e2d2b;
  margin-bottom: 0;
  font-size: 13px;
  letter-spacing: .03px;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}
.counter__quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quantity__selector {
  border: .5px solid #bcbcbc;
  padding: 7px;
  width: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.selector__action {
  cursor: pointer;
  color: #000;
  font-size: 15px;
}
.counter__number {
  padding: 0 10px;
    font-size: 13px;
}
.quantity__price {
  float: right;
    padding: 0 10px;
    width: inherit;
    font-size: 13px;
    letter-spacing: .03px;
}
.remove__item {
  float: right;
  padding-right: 5px;
  position: absolute;
  right: 9px;
  top: 6px;
  font-size: 20px;
  opacity: .7;
  cursor: pointer;
  color: #000;
}

.sidebar__cart footer {
  border-top: 1px solid #d0d0d0;
    box-shadow: 0 -4px 12px rgb(0 0 0 / 15%);
    z-index: 1;
    padding: 0 20px 20px;
}

.cart__subtotal {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  flex-direction: row;
  justify-content: space-between;
  border: 0 solid #6e7b70;
  border-top: none;
}
.cart__submit {
  font-size: 12px;
    font-weight: 400;
    font-style: normal;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
}


.currency-select-row {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.currency-select {
  padding: 8px 13px 5px 10px;
  background-position: 100% 60%;
}

@media screen and (min-width: 992px) {
  .product__item {
    padding: 3rem 2rem;
  }
}

@media screen and (min-width: 992px) {
  .luminskin-select__wrapper-fullwidth {
    max-width: 400px;
  }
}
